main {
    padding: 75px 0px;
}

h2 {
    text-align: center;
}

.mat-card {
    width: 80%;
    max-width: 800px;
    min-width: 350px;
    margin: auto;
}

.text-input {
    width: 100%;
}

.text-field {
    width: 100%;
    margin-top: 30px;
}

input[type='file'] {
    display: none;
}

.image-preview {
    width: 200px;
}

.image-preview img {
    width: 100%;
}